:root {
  /* Dracula theme */
  --background-color: #282a36;
  --background-color-alt: #44475a;
  --foreground-color: #f8f8f2;
  --green: #50fa7b;
  /* Other vars */
  --font-family: sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
}

button[type="button"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  color: var(--background-color);
  padding: 0.5em;
  border-radius: 2px;
  transition-duration: 0.3s;
}
button:hover {
  background-color: var(--foreground-color) !important;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--font-family);
  flex-direction: column;
  padding: 1em;
}

#prompt {
  background-color: var(--background-color-alt);
  max-width: 500px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#emotions {
  gap: 2em;
}

.selected {
  background-color: var(--foreground-color) !important;;
}

#repo {
  position: absolute;
  bottom: 0;
}
a {
  color: #8be9fd; border-bottom-color: #8be9fd; text-decoration:none
}
a:active {
  color:#ff5555 !important; border-bottom-color: #ff5555 !important;
}
a:visited {
  color: #bd93f9; border-bottom-color: #bd93f9;
}

a[data-jslicense="1"] {
  display: none;
}